<div class="row-recipes">
  <!-- left-bar -->
  <div class="col-left">
    <div class="mt-4">
      <a class="navbar-brand" href="<%= recipes_path %>">
      <img src="/assets/logo-footer.svg" alt="logo-nav" class="logo-side">
      </a>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <i class="fa-solid fa-bowl-food p-1"></i>
      <p class="mt-3 st-font-weight-6 text-unerline side-recipes">Recipes</p>
    </div>

    <div class="d-flex sign-out">
      <i class="fa-solid fa-right-from-bracket p-1"></i>
      <%= button_to "Sign out", destroy_user_session_path,  method: :delete  %>
    </div>
  </div>

  <!-- right-area -->
  <div class="col-right">
    <nav class="navbar d-flex align-content-center justify-content-between add-recipes-rps">
      <p class="m-0 mx-3 st-font-weight-7 st-f-header--4 nav-header">Recipes List</p>
      <div class="col-5 col-md-4 d-flex justify-content-end zoom-normal">
        <a href="<%= new_recipe_path %>">
          <button class="st-c-btn-primary ">
          <i class="fa-regular fa-plus"></i> Add Recipes </button>
        </a>
      </div>
    </nav>

    <div class="content w-100 border-0">
      <div class="row table-outline-rps px-1 w-100">
        <table class="table">
          <thead class="st-s-color--secondary500 st-s-text--white50">
            <tr>
              <th scope="col"> # <i class="fa-sharp fa-solid fa-chevron-down"></i></th>
              <th scope="col"> Recipes Name <i class="fa-sharp fa-solid fa-chevron-down"></i></th>
              <th scope="col"> Catagory <i class="fa-sharp fa-solid fa-chevron-down"></i></th>
              <th scope="col"> Date Create <i class="fa-sharp fa-solid fa-chevron-down"></i></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @recipes.each_with_index do |recipe, idx| %>
            <% if idx.even? %>
              <tr class="st-tb-1">
            <% else %>
              <tr>
            <% end %>
              <th scope="row"><%= recipe.id %></th>
              <td><%= recipe.name %></td>
              <td><%= recipe.category.name %></td>
              <td><%= recipe.created_at.strftime("%d/%m/%Y") %></td>
              <td class="td-end"><%= link_to "View detail", edit_recipe_path(recipe)%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="page-link-rps d-flex align-items-center">
                <ul class="pagination m-0">
                    <li class="page-item">
                        <a class="page-link page-link-icon" href="#" aria-label="Previous">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item mx-3 active">
                        <a class="page-link page-link-number" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-link-number" href="#">2</a>
                    </li>
                    <li class="page-item mx-3">
                        <a class="page-link page-link-number" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-link-number" href="#">...</a>
                    </li>
                    <li class="page-item mx-3">
                        <a class="page-link page-link-number" href="#">66</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-link-icon" href="#" aria-label="Next">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>

                <div class="d-flex justify-content-start align-items-center w-50">
                    <span class="st-font-weight-5 mx-3">Show Result</span>
                    <div class="dropdown w-25 d-flex">
                        <button
                            class="btn btn-outline-secondary dropdown-toggle w-100 d-flex justify-content-between align-items-center"
                            type="button">
                            <p class="m-0">15</p>
                        </button>
                    </div>
                </div>

            </div>
  </div>

</div>
