<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="/assets/logo-nav.svg" alt="logo-nav">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% @categs.each do |c| %>
            <li class="header-nav-link text-decoration-none">
              <%= link_to c.name, action: "category", id: c %>
            </li>
          <% end %>
          <li class="header-nav-link">
            <%= link_to 'All Recipes', list_path(@lists) %>
          </li>
        </ul>
        <%= link_to "For Admin" , new_user_session_path , class:"st-c-btn-primary text-decoration-none" %>

      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container my-5">
    <div class="row d-flex justify-content-between">
      <div class="col-sm-12 col-lg-7"> 
          
          <!-- card1 -->
          <div class="col">  
            <%= link_to action: "show", id: @recipes_reverse[0] do %>
            <div class="st-c-card-horizontal bg-white mb-3">
              <% if @recipes_reverse[0].recipe_image.attached? %>
                <img class="st-c-card-horizontal--image" src="<%= rails_blob_url(@recipes_reverse[0].recipe_image) %>" alt="recipes img">
              <% end %>
              <div class="st-c-card-horizontal--text text-start">
                <h5 class="st-c-card-text--header text-truncate"><%= @recipes_reverse[0].name %></h5>
                <p class="st-s-text--tertiary500"><%= @recipes_reverse[0].category.name%></p>
                <p> <%= @recipes_reverse[0].description %></p>
                <p class="st-c-card-text--date"><%= @recipes_reverse[0].created_at.strftime("%d %b, %Y") %></p>
              </div>
            </div>
            <% end %>                  
          </div>

          <div class="col">
            <!-- card2 -->
            <%= link_to action: "show", id: @recipes_reverse[1] do %>
            <div class="st-c-card-horizontal bg-white mb-3">
              <% if @recipes_reverse[1].recipe_image.attached? %>
                <img class="st-c-card-horizontal--image" src="<%= rails_blob_url(@recipes_reverse[1].recipe_image) %>" alt="recipes img">
              <% end %>
              <div class="st-c-card-horizontal--text text-start">
                <h5 class="st-c-card-text--header text-truncate"><%= @recipes_reverse[1].name %></h5>
                <p class="st-s-text--tertiary500"><%= @recipes_reverse[1].category.name%></p>
                <p> <%= @recipes_reverse[1].description %></p>
                <p class="st-c-card-text--date"><%= @recipes_reverse[1].created_at.strftime("%d %b, %Y") %></p>
              </div>
            </div>
            <% end %>                  
          </div>
      </div>

      <div class="col-sm-12 col-lg-4">
        <%= link_to action: "show", id: @recipes_reverse[2] do %>
        <div class="st-c-card bg-white">
          <% if @recipes_reverse[2].recipe_image.attached? %>
            <img class="st-c-card-image" src="<%= rails_blob_url(@recipes_reverse[2].recipe_image) %>" alt="...">
          <% end %>
          <div class="st-c-card-text">
            <h5 class="st-c-card-text--header text-truncate"><%= @recipes_reverse[2].name %></h5>
            <p class="st-s-text--tertiary500"> <%= @recipes_reverse[2].category.name %> </p>
            <p> <%= @recipes_reverse[2].description %> </p>
            <p class="st-c-card-text--date"><%= @recipes_reverse[2].created_at.strftime("%d %b, %Y") %></p>
          </div>
        </div>
        <%end%>
      </div>

    </div>
  </div>

  <!-- Subscribe field -->
  <div class="container-fluid subscribe-field mb-5">
    <div class="row position-relative">  
      <img class="h-35vh" src="assets/brand_background.png">
      <div class="col-5 col-lg-3 subsrcibe-text st-s-text--white50">
      
        <h2> Subscribe Now! </h5>
          <p>
            You wil never miss our latest recipes, etc. Our newsletter is one a week, every
            Sunday.
          </p>
      </div>
      <div class="col-5 col-lg-3 subsrcibe-form">
        <form>
          <div class="mt-3">
            <input class="form-control st-c-form-input" placeholder="Name">
          </div>
          <div class="mt-3">
            <input class="form-control st-c-form-input" placeholder="Email Address">
          </div>
          <button class="st-c-btn-black mt-4 w-100" type="submit"> Subscribe </button>
        </form>
      </div>
    </div>
  </div>

  <!-- 8 cards -->
  <div class="container">
    <!-- 1st row -->
    <div class="row mb-3">
      <% @recipes_reverse.last(8).each do |recipe| %>  
      <div class="col d-flex justify-content-center mb-4">
        <%= link_to action: "show", id: recipe do %>
        <div class="st-c-card-small bg-white">
          <% if recipe.recipe_image.attached? %>
            <img class="st-c-card-small--image" src="<%= rails_blob_url(recipe.recipe_image) %>" alt="recipes img">
          <% end %>
          <a href="#" class="st-c-card-mall--text h-auto p-2">
            <h5 class="st-c-card-text--header text-truncate"> <%= recipe.name %> </h5>
            <p class="st-s-text--tertiary500"> <%= recipe.category.name %> </p>
            <p class="st-c-card-small--text"> <%= recipe.description %> </p>
            <p class="st-c-card-text--date"> <%= recipe.created_at.strftime("%d %b, %Y") %> </p>
          </a>
        </div>
        <% end %>
      </div>
      <% end %>
  </div>

  <div class="col col-lg-5 w-100 d-flex justify-content-center">
    <%= link_to 'All Recipes', list_path(@lists) , class:"st-c-btn-primary--ghost my-4 text-decoration-none text-center" %>
  </div>
</main>

<footer class="mt-5">
  <div class="footer py-3 st-s-color--primary500">
    <div class="d-flex justify-content-center mt-4 mb-3">
      <img src="/assets/logo-footer.svg" alt="logo-footer">
    </div>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 mt-3">
      <% @categs.each do |c| %>
        <li class="footer-nav-link st-s-text--white50 text-decoration-none text-center px-3">
          <%= link_to c.name, action: "category", id: c %>
        </li>
      <% end %>

      <li class="footer-nav-link st-s-text--white50 text-decoration-none text-center px-3">
        <%= link_to 'All Recipes', list_path(@lists) %>
      </li>
    </ul>
    <div class="d-flex justify-content-center mb-5">
      <small class="st-s-text--white50">
        ©2022 Banana Coding Co., Ltd. all rights reserved
      </small>

    </div>
  </div>
</footer>