<div class="container w-100 login_field">
  <div class="row my-5">
    <div class="container-fluid text-center">
      <a class="navbar-brand" href="/index.html">
        <img class="login-logo-image_size mb-5" src="/assets/logo-nav.svg" alt="logo-nav">
      </a>
  </div>

  <div class="row w-100 p-0 m-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
      <div class="mb-3">
        <%= form.label :email, class:"st-c-form-label" %> <br />
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control st-c-form-input", placeholder: "Email address" %>
      </div>
      <div class="my-3">
        <%= form.label :password, class:"st-c-form-label" %> <br />
        <div class="st-form-input--i">
          <i class="icon-right fa-regular fa-eye"></i>
          <%= form.password_field :password, autocomplete: "current-password", class: "text-input-right form-control st-c-form-input--icon", placeholder: "Password" %>
        </div>
      </div>                   
      <%= form.submit "Submit", class:"st-c-btn-primary w-100 mt-3" %>
    <% end %> 
  </div>
</div>